{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'site01/style.css' %}" />


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="aboutBody">
    <p class='intro'>I am Udit Jain and I do things for fun</p>
    <p>I study at Indian Institute of Technology(dept. = compu faccha)</p>
    <p>What else? Lets see... I like coding and it's most of my life, I don't like studiying much like any other college guy</p>
    <a href="/site01/index"><p class="button">Home page</p></a>
  </body>
</html>
