
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'site01/style.css' %}" />

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact details</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="contactBody">
  <h1 class="heading">If you are sure you want to contact me then below are the links to various platforms</h1>
  <p class="beautify">You have been warned!!</p>
  <p class="beautify">Be civilized in your talks</p>
  <table class="table">
    <thead>
      <th>Serial No.</th>
      <th>Platform</th>
      <th>Handle/Id</th>
    </thead>
    <tbody>
      <tr>
        <td>1.</td><td>Facebook</td><td><a href="https://www.facebook.com/mr.jain.007">My Profile</a></td>
      </tr>
      <tr>
        <td>2.</td><td>LinkedIn</td><td></td>
      </tr>
      <tr>
        <td>3.</td><td>Gmail</td><td>uditjainiitd@gmail.com</td>
      </tr>
      <tr>
        <td>4.</td><td>Any coding website handle</td><td>udit_jain_iitd</td>
      </tr>
      <tr>
        <td>5.</td><td>Phone no.</td><td ><strong>TEXT UNAVAILABLE</strong></td>
      </tr>
 <tr>
        <td>6.</td><td>GitHub</td><td><a href="https://www.github.com/udit01">My Profile</a></td>
      </tr>
    </tbody>
  </table>
	
  <p class="beautify">I am kind of inactive and bored on social platforms so if it's something inportant just call me.</p>
  <a href="/site01/index"><p class="button">Home page</p></a>
  </body>
</html>
