
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'site01/style.css' %}" />

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Udit Jain</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="mainBody" >
    <p class="introL">Hi!! Welcome to my first attempt at creating my own website</p>
    <ul class="list">
      <li><a href="/site01/about"><p >About me</p></li>
      <li><a href="/site01/hobbies"><p>Hobbies</p></li>
      <li><a href="/site01/social"><p>Social Innovations by me</p></li>
      <li><a href="/site01/contact"><p >Contact Me!!</p></li>
      
    </ul>
    <p class="alpha">Udit Jain</p>

</body>
</html>
